/*body {*/
    /*background: #1A0500;*/
/*}*/

text {
    font-size: 11px;
    pointer-events: none;
}

text.parent {
    fill: #1f77b4;
}

circle {
    /*fill: #ccc;*/
    stroke: #999;
    pointer-events: all;
}

circle.parent {
    /*fill: #1f77b4;*/
    fill-opacity: .1;
    stroke: steelblue;
}

circle.parent:hover {
    stroke: #ff7f0e;
    stroke-width: .5px;
}

circle.child {
    pointer-events: none;
}

.container {
    width: 100%;
    padding: 0;
}

.container > svg {
    width: 100%;
}

.container > svg > g {
    margin: auto;
}