<div class="iw-container">

<div class="pull-left iw-info">
  <h1>$scope.venues[i].name</h1>
  <h3>$scope.venues[i].location</h3>
  <p><strong>Category: </strong>$scope.venues[i].category_representation</p>
  <p><strong>Rating: </strong>$scope.venues[i].editorial_rating out of 5</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum neque vel rutrum porta. Vivamus dictum massa vel est mollis tincidunt. Suspendisse quis commodo mi. Proin fringilla mauris eu lorem mollis placerat. Aliquam erat volutpat. Mauris consectetur diam vitae tellus dignissim, sit amet euismod lorem pretium. Sed egestas libero ut nisl eleifend, eget sollicitudin nulla suscipit. Nullam vitae accumsan dui. Nullam consectetur ullamcorper tellus. Nunc et felis sed leo iaculis convallis ac vel libero. Pellentesque non mi placerat, pretium velit molestie, ultricies felis. Fusce non commodo enim. Sed consequat fermentum erat, vitae vehicula velit sodales ut. Vestibulum et blandit mauris.</p>
</div>
<div class="pull-left iw-image">
  <img src="$scope.venues[i].image_url" />
</div>
<div class="clearfix"></div>
</div>
